<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Aso_Portal</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="js/staticFunctions.js" defer></script>
</head>

<body dir="ltr">
<div class="Grid-Container">
  <div>
    <img class="HomePageLogo" src="img/hands_logo.png" width="150" alt="Web Logo">
  </div>
  <nav>
    <ul>
      <label id="greetMsg"></label>
      <li><a href="Volunteers_Home%20_Screen.html"><img class="returnHomePage" src="img/GoBackToHomePage.png" width="200" alt="GoBackToHomePage"></a></li>
      <li><button><a href="index.html">התנתק</a></button></li>
    </ul>
  </nav>
  <div class="PortalTitle">
    <h1 class="Heading"><span dir="rtl">פורטל הפעולות הראשי שלך!</span></h1>
  </div>

  <div class="BorderContent">
    <a href="Watch_Your_Volunteers.html"><button>צור קשר עם המתנדבים שלך</button></a>
    <div>
      <a href="ContactUs.html"><button>צור קשר איתנו</button></a>
    </div>
    <br>
    <br>
    <a href="SignInForEvent.html"><button>הירשם לאירוע קהילתי</button></a>
    <div>
      <a href="Creating_Voluntary_Activity.html"><button>צור אירועי קהילתי לקידום העמותה שלך</button></a>
    </div>
    <div>
      <a href="Events_Status.html"><button>צפה במצב האירועים שלך</button></a>
    </div>

  </div>
</div>
</body>
</html>

