<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Creating_Voluntary_Activity</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/creating_voluntary_activity_valid.js" defer></script>
  <script src="js/greet_msg.js" defer></script>
</head>

<body>

<header class="header">
  <label id="greetMsg"></label>
  <nav>
    <img class="returnHomePage" src="img/GoBackToHomePage.png" width="200" alt="GoBackToHomePage">
    <button onclick="logout()">התנתק</button>
    <button class="goToPortal">צפייה בפורטל האישי</button>
  </nav>
  <img class="HomePageLogo" src="img/hands_logo.png" width="150" alt="Web Logo">
</header>

<div class="TitlePage">
  <h1 class="Heading">תוביל את המהפכה בדרך שלך!</h1>
</div>
 
<div id="EventForm">

  <label>שם האירוע* :
    <input type="text" id="EventTitle">
    <div class="msg"></div>
  </label>

  <label class="date-grid">
    <span>מתאריך *:</span>
    <input type="date" id="StartDate">
    <span>עד תאריך *:</span>
    <input type="date" id="EndDate">
    <div id="timeMsg"></div>
  </label>

  <label class="date-grid">
    <span>שעת התחלה *:</span>
    <input type="time" id="StartTime">
    <span>שעת סיום *:</span>
    <input type="time" id="EndTime">
  </label>

  <label>מיקום *:
    <input type="text" id="Location">
  </label>

  <label class="date-grid">
    <span>כמות מתנדבים *:</span>
    <input type="number" id="MaxVol" placeholder="Maximum">
    <span>-</span>
    <input type="number" id="MinVol" placeholder="Minimum">
    <div id="volMsg"></div>
  </label>

  <label>ציוד נדרש :
    <input type="text" id="RequiredEquip" placeholder="XXXX,XXXX,XXXX...">
  </label>

  <label>הערות נוספות :
    <input type="text" id="Notes">
  </label>

  <label>טלפון ליצירת קשר* :
    <input type="tel" class="PhoneNumber">
    <div class="msgPhone"></div>
  </label>

  <label>מטרת האירוע :
    <br>
    <textarea name="Goal" cols="30" rows="5" placeholder="ספר על המטרה שלך..." id="goalEvent"></textarea>
  </label>
  <button class="post-btn">שמור</button> 
</div>

<script src="js/globalFuncs.js"></script>

<script>
    if (!localStorage.getItem('loggedInUser')) {
      alert('You are not authorized for this screen, You have to login first');
      logout();
  }
</script>

</body>
</html>
