<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Event_Status</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body dir="ltr">
<div class="Grid-Container">
  <div>
    <img class="HomePageLogo" src="img/hands_logo.png" width="150" alt="Web Logo">
  </div>
  <nav>
    <a href="Volunteers_Home%20_Screen.html"><img class="returnHomePage" src="img/GoBackToHomePage.png" width="200" alt="GoBackToHomePage"></a>
    <button><a href="index.html">התנתק</a></button>
    <button><a href="Vol_Portal.html">צפייה בפורטל האישי</a></button>
  </nav>
  <div class="EventStatusHeading">
    <h1 class="Heading"><span dir="rtl">מעקב אחר האירועים שלך</span></h1>
  </div>
  <label class="InstructionsAboveTable2">מעקב דינאמי אחר האירועים אליהם נרשמת ואחר האירועים שיצרת בעצמך</label>
  <div class="Two_Tbl">

    <div class="Tbl_Create_Event">
      <div dir="rtl" class="Tbl_Cells2">
        <span class="Cell_Header">בחר</span>
        <span class="Cell_Header">שם האירוע אותו יצרת</span>
        <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_lightBlue">XXXXXXX</span>

        <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_DarkBlue">XXXXXXX</span>

        <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_lightBlue">XXXXXXX</span>

        <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_DarkBlue">XXXXXXX</span>

        <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_lightBlue">XXXXXXX</span>

        <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_DarkBlue">XXXXXXX</span>

        <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_lightBlue">XXXXXXX</span>
      </div>
    </div>

    <div class="Tbl_Reg_Event">
      <div dir="rtl" class="Tbl_Cells2">
        <span class="Cell_Header">בחר</span>
        <span class="Cell_Header">שם האירוע אליו נרשמת</span>

        <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_lightBlue">XXXXXXX</span>

        <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_DarkBlue">XXXXXXX</span>

        <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_lightBlue">XXXXXXX</span>

        <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_DarkBlue">XXXXXXX</span>

        <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_lightBlue">XXXXXXX</span>

        <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_DarkBlue">XXXXXXX</span>

        <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
        <span class="Cell_Info_lightBlue">XXXXXXX</span>
      </div>
    </div>
  </div>

  <div class="CreateEventButton">
    <button>בטל אירוע</button>
    <button>ערוך אירוע</button>
  </div>
  <div class="RegEventButton">
    <button>בטל השתתפות</button>
    <button>צפה באירוע</button>
  </div>

</div>
</body>
</html>
