<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Event_Status</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/greet_msg.js" defer></script>
  <script src="js/event_status.js" defer></script>
</head>

<body>
<header class="header">
  <label id="greetMsg"></label>
  <nav>
    <img class="returnHomePage" src="img/GoBackToHomePage.png" width="200" alt="GoBackToHomePage">
    <button onclick="logout()">התנתק</button>
    <button class="goToPortal">צפייה בפורטל האישי</button>
  </nav>
  <img class="HomePageLogo" src="img/hands_logo.png" width="150" alt="Web Logo">
</header>

<div class="TitlePage">
  <h1 class="Heading">מעקב אחר האירועים שלך</h1>
  <label class="labelCenter">מעקב דינאמי אחר האירועים אליהם נרשמת ואחר האירועים שיצרת בעצמך</label>
</div>

<div class="Two_Tbl">

  <h3>אירועים אליהם נרשמת</h3>

  <div class="Tbl_Create_Event">
    <div dir="rtl" class="Tbl_Cells2">
    <span class="Cell_Header">עמותה\מארגן</span>
    <span class="Cell_Header">תאריך</span>
    <span class="Cell_Header">שעת התחלה</span>
    <span class="Cell_Header"></span>
    </div>
  </div>

  <br><br>
  <h3>אירועים שיצרת</h3>

  <div class="Tbl_Reg_Event">
    <div dir="rtl" class="Tbl_Cells3">
    <span class="Cell_Header">נושא ההתנדבות</span>
    <span class="Cell_Header">מיקום</span>
    <span class="Cell_Header">תאריך ושעת התחלה</span>
    <span class="Cell_Header">תאריך ושעת סיום</span>
    <span class="Cell_Header"></span>
    </div>
  </div>

</div>

<script src="js/globalFuncs.js"></script>

<script>
if (!localStorage.getItem('loggedInUser')) {
      alert('You are not authorized for this screen, You have to login first');
      logout();
  }
</script>

</body>
</html>
