<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Event_Status</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../Static/css/styles.css">
  <script src="../Static/js/greet_msg.js" defer></script>
  <script src="../Static/js/globalFuncs.js" defer></script>
  <script src="../Static/js/event_status.js" defer></script>
</head>

<body>
<header class="header">
  <label id="greetMsg"></label>
  <nav>
    <img class="returnHomePage" src="../Static/img/GoBackToHomePage.png" width="200" alt="GoBackToHomePage">
    <button><a href="index.html">התנתק</a></button>
    <button class="goToPortal">צפייה בפורטל האישי</button>
  </nav>
  <img class="HomePageLogo" src="../Static/img/hands_logo.png" width="150" alt="Web Logo">
</header>

<div class="TitlePage">
  <h1 class="Heading">מעקב אחר האירועים שלך</h1>
  <label class="labelCenter">מעקב דינאמי אחר האירועים אליהם נרשמת ואחר האירועים שיצרת בעצמך</label>
</div>

<div class="Two_Tbl">

  <div class="Tbl_Create_Event">
    <div  class="Tbl_Cells2">
      <span class="Cell_Header">בחר</span>
      <span class="Cell_Header">שם האירוע אותו יצרת</span>
      <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>

      <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>

      <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>

      <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>

      <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>

      <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>

      <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
    </div>
  </div>

  <div class="Tbl_Reg_Event">
    <div dir="rtl" class="Tbl_Cells2">
      <span class="Cell_Header">בחר</span>
      <span class="Cell_Header">שם האירוע אליו נרשמת</span>

      <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>

      <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>

      <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>

      <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>

      <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>

      <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>

      <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
    </div>
  </div>

</div>

<label id="removeFromList">בוטל בהצלחה!</label>
<div class="ButtonPlacement">
  <div class="CreateAndRegEventButton">
    <button id="btnCancel">בטל אירוע</button>
    <button>ערוך אירוע</button>
  </div>
  <div class="CreateAndRegEventButton">
    <button id="btnCancel2">בטל השתתפות</button>
    <button>צפה באירוע</button>
  </div>
</div>

</body>
</html>
