<!doctype html>
<html lang = "he">
<head>
  <meta charset = "UTF-8">
  <title>YourTurn_Home Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/globalFuncs.js" defer></script>
  <script src="js/index.js" defer></script>
  <script src="js/object_list.js" defer></script>
</head>

<body>

<div class="Grid-Index">


  <div id="logoIndex">
    <img class="indexAnimation" src="img/hands_logo.png" width="400" alt="Web Logo">
  </div>

  <div id = "User_Password" >
    <div id="TitleIndex">
      <h1 class="Heading"><span dir = ltr>YourTurn</span></h1>
    </div>

    <form action="/signIn" method="post" class="regForm" name="Reg_Form">
      <div class="msgForUser"></div>
      <div dir="ltr">
        <label for="indexValidUser">שם משתמש:</label>
          <input type="text" name="userNameInsert" class="UserName" id="indexValidUser" required>
      </div>
      <div dir="ltr">
        <label for="indexValidPass" dir="rtl">סיסמה:</label>
          <input type="password" name="userPassInsert" class="Password" id="indexValidPass" required>
      </div>
      <input type="submit" value="התחבר" class="submit-button">
    </form>
  </div>

  <div id="NewUserButton">
    <button>משתמש חדש? הירשם עכשיו!</button>
  </div>
  <br>

  <div id="amuta">
    <a href="http://localhost:3000/opening_association_user"><img class="imgAnimation" src="img/A%20small%20logo%20association.png" width="150" alt="A small logo association"></a>
  </div>
  <div id="mitnadev">
    <a href="http://localhost:3000/opening_vol_user"><img class="imgAnimation" src= "img/Photo%20of%20a%20volunteer.png" width="150" alt="Photo of a volunteer"></a>
  </div>

</div>

<script src="js/globalFuncs.js"></script>

</body>
</html>
