<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Looking_For_Volunteering</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body dir="ltr">

<div class="Grid-Container">

  <img class="HomePageLogo" src="img/hands_logo.png" width="150" alt="Web Logo">

  <nav>
     <a href="Volunteers_Home%20_Screen.html"><img class="returnHomePage" src="img/GoBackToHomePage.png" width="200" alt="GoBackToHomePage"></a>
    <button><a href="index.html">התנתק</a></button>
    <button><a href="Vol_Portal.html">צפייה בפורטל האישי</a></button>
  </nav>

  <div class="HeadingSearching">
    <h1><label dir="rtl" class="Heading">להתנדב אף פעם לא היה קל יותר! </label></h1>
  </div>

  <div  dir="rtl" id="Searching">
    <div id="Category">
      <label> סוג התנדבות:
        <input type="radio" checked="checked" name="remember" style="margin-bottom:15px"> בעלי חיים
        <input type="radio" checked="checked" name="remember" style="margin-bottom:15px"> קשישים
        <input type="radio" checked="checked" name="remember" style="margin-bottom:15px">נוער בסיכון
        <input type="radio" checked="checked" name="remember" style="margin-bottom:15px">מתמודדי נפש
        </br>
        <input type="radio" checked="checked" name="remember" style="margin-bottom:15px">צרכים מיוחדים
        <input type="radio" checked="checked" name="remember" style="margin-bottom:15px">משפחות נזקקות
        <input type="radio" checked="checked" name="remember" style="margin-bottom:15px">אחר
      </label>
      <div>
        <label>שעת התחלה *:</label>
        <input type="time" name="StartTime">
        <label>שעת סיום *:</label>
        <input type="time" name="EndTime">
      </div>
      <div>
        <label>מיקום *:</label>
        <input type="text" name="Location">
      </div>
      <div id="vol_search_btn">
        <a href="Volunteer_Search_Results.html"><button>!Volunteer</button></a>
        <div id="vol_search_symbol">
          <img src="img/handRight.png" width="150">  <img src="img/handLeft.png" width="150">
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>





