<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Looking_For_Volunteering</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/looking_for_volunteering.js" defer></script>
  <script src="js/greet_msg.js" defer></script>
</head>

<body>

<header class="header">
  <label id="greetMsg"></label>
  <nav>
    <img class="returnHomePage" src="img/GoBackToHomePage.png" width="200" alt="GoBackToHomePage">
    <button onclick="logout()">התנתק</button>
    <button class="goToPortal">צפייה בפורטל האישי</button>
  </nav>
  <img class="HomePageLogo" src="img/hands_logo.png" width="150" alt="Web Logo">
</header>

<div class="TitlePage">
  <h1><label class="Heading">להתנדב אף פעם לא היה קל יותר! </label></h1>
</div>

<div  dir="rtl" id="Searching">
  <div id="Category">
    
    <div>
      <label>תאריך ושעת התחלה *:
        <input type="datetime-local" name="StartTime" required>
      </label>
    </div>

    <div id="vol_search_btn">
      <button onclick="search(event)">!חפש התנדבויות</button>
      <div id="vol_search_symbol">
        <img src="img/handRight.png" width="150" alt="">  <img src="img/handLeft.png" width="150" alt="">
      </div>
    </div>
  </div>
</div>

<script src="js/globalFuncs.js"></script>

</body>
</html>





