<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Managing_Your_Volunteering</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="js/staticFunctions.js" defer></script>
  <script src="js/Manging_Your_Volunteering.js" defer></script>
</head>
<body dir="ltr">
<div class="Grid-Container">
  <div>
    <img class="HomePageLogo" src="img/hands_logo.png" width="150" alt="Web Logo">
  </div>
  <nav>
    <a href="Volunteers_Home%20_Screen.html"><img class="returnHomePage" src="img/GoBackToHomePage.png" width="200" alt="GoBackToHomePage"></a>
    <button><a href="index.html">התנתק</a></button>
    <button><a href="Vol_Portal.html">צפייה בפורטל האישי</a></button>
  </nav>

  <div class="ManageYourVolHeading">
    <h1 dir="rtl" class="Heading">ניהול ההתנדבות שלך! </h1>
  </div>

  <label dir="rtl" class="InstructionsAboveTable2">מעקב קל ודינאמי אחר העמותות שבחרת לצד הכנסת שעות ההגעה הנוחות לך! <br>
    אנו ממליצים ליצור קשר עם העמותה כדי לתאם את שעת ההגעה מולם.</label>

  <div class="Tbl_for_Users">
    <div dir="rtl" class="Tbl_Cells">
      <span class="Cell_Header">בחר</span>
      <span class="Cell_Header">שם העמותה</span>
      <span class="Cell_Header">טלפון</span>
      <span class="Cell_Header">מייל</span>
      <span class="Cell_Header">תאריך הגעה</span>
      <span class="Cell_Header">שעת הגעה</span>

      <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>

      <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>

      <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>

      <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>

      <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>
      <span class="Cell_Info_lightBlue">XXXXXXX</span>

      <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>
      <span class="Cell_Info_DarkBlue">XXXXXXX</span>
    </div>
  </div>

  <div class="msgFormat">
    <div dir="rtl" id="saveChanges">
      <label>השינויים נשמרו בהצלחה!</label>
    </div>
    <div dir="rtl" id="removeFromList">
      <label>נמחק מהרשימה בהצלחה</label>
    </div>
  </div>

  <div class="ButtonPlacement">
    <button id="btn2">שמור שינויים</button>
    <button id="btn3">מחק מהרשימה</button>
  </div>

</div>
</body>
</html>
