<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Opening_Association_User</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../Static/css/styles.css">
  <script src="../Static/js/object_list.js"></script>
  <script src="../Static/js/globalFuncs.js" defer></script>
  <script src="../Static/js/opening_user_valid.js" defer></script>
</head>

<body dir="ltr">

<div class="Grid-Container">

  <div>
    <img class="logoSide" src="../Static/img/hands_logo.png" width="150" alt="Web Logo">
  </div>
  <div id="TitleOpenAssociation">
    <h1 class="Heading">Your Association Is Important To Us!</h1>
  </div>

  <form dir="rtl" class="regForm" name="Reg_Form">

    <label>שם העמותה* :
      <input type="text" class="FullName">
      <div class="msgForUser"></div>
    </label>

    <label>טלפון* :
      <input type="tel" class="PhoneNumber">
      <div class="msgPhone"></div>
    </label>

    <label>מייל* :
      <input type="text" class="Mail">
      <div class="msgMail"></div>
    </label>

    <label>מיקום* :
      <input type="text" id="LocationAssociation">
    </label>

    <label>תאריך הקמה* :
      <input type="date" id="FoundationDate">
      <div id="msgFund"></div>
    </label>

    <label>כמות פעילים :
      <input type="number" id="ActiveVol">
    </label>

    <label>שם משתמש* :
      <input  type="text" class="UserName">
      <div class="msgUser"></div>
      <div class="checkMsgUser"></div>
    </label>

    <label>סיסמה*:
      <input type="password" class="Password">
      <div class="msgPass"></div>
    </label>

    <label>תיאור העמותה* : </label>
    <textarea class=Description cols="4" rows="4" placeholder="תאר את העמותה שלך..."></textarea>

    <label>*URL:
      <input type="text" id="URLAso">
      <div id="msgURL"></div>
    </label>

    <label>סוג עמותה :
      <select id="Type">
        <option>בעלי חיים</option>
        <option>קשישים</option>
        <option>נוער בסיכון</option>
        <option>מתמודדי נפש</option>
        <option>צרכים מיוחדים</option>
        <option>משפחות נזקקות</option>
        <option>אחר</option>
      </select>
    </label>

    <label class="date-grid">שעות פעילות* :
      <span>
          <span>ימים :</span>
          <input type="text" id="AssociationDays">
         <span>שעות :</span>
          <input type="time" id="AssociationHours">
        </span>
    </label>

    <input type="submit" value="!Join Us" class="submit-button">
  </form>

</div>
</body>
</html>
