<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New_Volunteer_User</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <script src="../Static/js/opening_user_valid.js" defer></script>

</head>

<body>
<header class="header">
  <img class="logoSide" src="img/hands_logo.png" width="150" alt="Web Logo">
</header>

<div class="TitlePage">
  <h1 class="Heading">!It’s YourTurn To Make An Impact</h1>
</div>

<form action="/signUp" method="post" class="regForm" name="Reg_Form">

  <label>שם מלא* :
    <input type="text" class="FullName" required>
    <div class="msgForUser"></div>
  </label>


  <label>טלפון* :
    <input type="tel" class="PhoneNumber" required>
    <div class="msgPhone"></div>
  </label>

  <label>מייל* :
    <input type="text" class="Mail" required>
    <div class="msgMail"></div>
  </label>

  <label>גיל* :
    <input type="number" id="Age" required>
  </label>

  <label>שם משתמש* :
    <input type="text" class="UserName" required>
    <div class="msgUser"></div>
    <div class="checkMsgUser"></div>
  </label>

  <label>סיסמה* :
    <input type="password" class="Password" required>
    <div class="msgPass"></div>
  </label>

  <label>מין :
    <select id="Gender">
      <option value="Male">זכר</option>
      <option value="Female">נקבה</option>
      <option value="other">אחר</option>
    </select>
  </label>

  <label dir="rtl">תיאור קצר על עצמך :
    <input type="text" class="Description">
  </label>

  <input type="submit" value="!Join Us" class="submit-button" id="volSub">
</form>
<br>

<script src="js/globalFuncs.js"></script></body>
</html>
