<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Opening_Association_User</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="js/OpeningUser.js" defer></script>
</head>

<body dir="ltr">

<div class="Grid-Container">

  <div>
    <img class="logoSide" src="img/hands_logo.png" width="150" alt="Web Logo">
  </div>
  <div id="TitleOpenAssociation">
    <h1 class="Heading">Your Association Is Important To Us!</h1>
  </div>

  <form dir="rtl" class="regForm" name="Reg_Form">
    <div class="msgForUser"></div>
    <div class="Inp_right">
      <label>שם העמותה* : </label>
      <input type="text" class="FullName">
    </div>
    <div class="Inp_right">
      <div class="msgPhone"></div>
      <label>טלפון* : </label>
      <input type="tel" class="PhoneNumber">
    </div>
    <div class="Inp_right">
      <div class="msgMail"></div>
      <label>מייל* : </label>
      <input type="text" class="Mail">
    </div>
    <div class="Inp_right">
      <label>מיקום* :</label>
      <input type="text" id="LocationAssociation">
    </div>
    <div class="Inp_right">
      <label>תאריך הקמה :</label>
      <input type="date" id="FoundationDate">
    </div>
    <div class="Inp_right">
      <label>כמות פעילים :</label>
      <input type="number" id="ActiveVol">
    </div>
    <div class="Inp_right">
      <div class="msgUser"></div>
      <label>שם משתמש* :</label>
      <input  type="text" class="UserName">
    </div>
    <br>
    <div dir="rtl" class="Inp_right">
      <div class="msgPass"></div>
      <label>סיסמה*:</label>
      <div class="msgPass"></div>
      <input type="password" class="Password">
    </div>
    <br>
    <div class="Inp_right">
      <label>תיאור העמותה* : </label>
      <br>
      <textarea class=Description cols="7" rows="7" placeholder="תאר את העמותה שלך..."></textarea>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="Inp_right">
      <div id="msgURL"></div>
      <label>*URL:</label>
      <input type="text" id="URLAso">
    </div>
    <br>
    <div class="Inp_right">
      <label>סוג עמותה :</label>
      <select id="Type">
        <option>בעלי חיים</option>
        <option>קשישים</option>
        <option>נוער בסיכון</option>
        <option>מתמודדי נפש</option>
        <option>צרכים מיוחדים</option>
        <option>משפחות נזקקות</option>
        <option>אחר</option>
      </select>
    </div>
    <div class="Inp_right">
      <label>שעות פעילות* :</label>
      <label label class="MoveAside1">ימים:</label>
      <input type="text" id="AssociationDays">
      <br><label class="MoveAside">שעות:</label>
      <input type="time" id="AssociationHours">
    </div>
    <div class="LogoMoveDown">
      <label>לוגו:</label>
      <span class="upload_image">
            <img src="img/plus.png" width="35">
          </span>
    </div>
    <input type="submit" value="!Join Us" class="submit-button">
  </form>

</div>
</body>
</html>
