<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign_In_For_Event</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../Static/css/styles.css">
  <script src="../Static/js/greet_msg.js" defer></script>
  <script src="../Static/js/object_list.js" defer></script>
  <script src="../Static/js/globalFuncs.js" defer></script>
  <script src="../Static/js/signUp_event.js" defer></script>
</head>
<body dir="ltr">
<header class="header">

  <label id="greetMsg"></label>

  <nav>
    <img class="returnHomePage" src="../Static/img/GoBackToHomePage.png" width="200" alt="GoBackToHomePage">
    <button><a href="index.html">התנתק</a></button>
    <button class="goToPortal">צפייה בפורטל האישי</button>
  </nav>

  <img class="HomePageLogo" src="../Static/img/hands_logo.png" width="150" alt="Web Logo">

</header>

<div class="TitlePage">
  <h1 class="Heading"><span dir="rtl">הירשם לאירוע פתוח!</span></h1>
  <label class="labelCenter">צפה באירועים הקיימים שחברי הקהילה יצרו וקח חלק בשינוי העולם לטובה:</label>
</div>

<div class="Tbl_for_Reg">
  <div dir="rtl" class="HeadCell_Reg" id="Tbl_for_Reg">
    <span class="Cell_Header">בחר</span>
    <span class="Cell_Header">יוזם האירוע</span>
    <span class="Cell_Header">שם האירוע</span>
    <span class="Cell_Header">מטרת האירוע</span>
    <span class="Cell_Header">מיקום האירוע</span>
    <span class="Cell_Header">תאריך ושעת האירוע</span>
    <span class="Cell_Header">ציוד נדרש</span>
    <span class="Cell_Header">טלפון ליצירת קשר</span>
    <span class="Cell_Header">פרטים נוספים</span>

    <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
    <span class="Cell_Info_lightBlue InitiatorName">XXXXXXX</span>
    <span class="Cell_Info_lightBlue EventName">XXXXXXX</span>
    <span class="Cell_Info_lightBlue Purpose">XXXXXXX</span>
    <span class="Cell_Info_lightBlue Location">XXXXXXX</span>
    <span class="Cell_Info_lightBlue StartDate BeginningTime">XXXXXXX</span>
    <span class="Cell_Info_lightBlue RequiredEquipment">XXXXXXX</span>
    <span class="Cell_Info_lightBlue PhoneUser">XXXXXXX</span>
    <span class="Cell_Info_lightBlue Notes">XXXXXXX</span>

    <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
    <span class="Cell_Info_DarkBlue InitiatorName">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue EventName">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue Purpose">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue Location">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue StartDate BeginningTime">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue RequiredEquipment">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue PhoneUser">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue Notes">XXXXXXX</span>

    <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
    <span class="Cell_Info_lightBlue InitiatorName">XXXXXXX</span>
    <span class="Cell_Info_lightBlue EventName">XXXXXXX</span>
    <span class="Cell_Info_lightBlue Purpose">XXXXXXX</span>
    <span class="Cell_Info_lightBlue Location">XXXXXXX</span>
    <span class="Cell_Info_lightBlue StartDate BeginningTime">XXXXXXX</span>
    <span class="Cell_Info_lightBlue RequiredEquipment">XXXXXXX</span>
    <span class="Cell_Info_lightBlue PhoneUser">XXXXXXX</span>
    <span class="Cell_Info_lightBlue Notes">XXXXXXX</span>

    <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
    <span class="Cell_Info_DarkBlue InitiatorName">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue EventName">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue Purpose">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue Location">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue StartDate BeginningTime">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue RequiredEquipment">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue PhoneUser">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue Notes">XXXXXXX</span>

    <span class="Cell_Info_lightBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
    <span class="Cell_Info_lightBlue InitiatorName">XXXXXXX</span>
    <span class="Cell_Info_lightBlue EventName">XXXXXXX</span>
    <span class="Cell_Info_lightBlue Purpose">XXXXXXX</span>
    <span class="Cell_Info_lightBlue Location">XXXXXXX</span>
    <span class="Cell_Info_lightBlue StartDate BeginningTime">XXXXXXX</span>
    <span class="Cell_Info_lightBlue RequiredEquipment">XXXXXXX</span>
    <span class="Cell_Info_lightBlue PhoneUser">XXXXXXX</span>
    <span class="Cell_Info_lightBlue Notes">XXXXXXX</span>

    <span class="Cell_Info_DarkBlue"><input type="radio" checked="checked" name="remember" style="margin-bottom:15px"></span>
    <span class="Cell_Info_DarkBlue InitiatorName">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue EventName">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue Purpose">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue Location">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue StartDate BeginningTime">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue RequiredEquipment">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue PhoneUser">XXXXXXX</span>
    <span class="Cell_Info_DarkBlue Notes">XXXXXXX</span>
  </div>
</div>

<div id="saveChanges">
  <label class="labelCenter">יש! האירוע נוסף לרשימת האירועים שלך</label>
</div>
<div class="ButtonPlacement">
  <button id="btn6">שמור בחירה</button>
</div>
<br>

</body>
</html>
