<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vol_Portal</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/greet_msg.js" defer></script>
</head>

<body>

<header class="header">
  <label id="greetMsg"></label>
  <nav>
    <img class="returnHomePage" src="img/GoBackToHomePage.png" width="200" alt="GoBackToHomePage">
    <button onclick="logout()">התנתק</button>
  </nav>

  <img class="HomePageLogo" src="img/hands_logo.png" width="150" alt="Web Logo">
</header>

<div class="TitlePage">
  <h1 class="Heading">פורטל הפעולות הראשי שלך!</h1>
</div>

<div class="BorderContent">
  <br>
  <a href="http://localhost:3000/contact_us"><button>צור קשר איתנו</button></a>
  <br>
  <br>
  <a href="http://localhost:3000/looking_for_volunteering"><button>הירשם לאירוע קהילתי</button></a>
  <a href="http://localhost:3000/events_status"><button>צפה במצב האירועים שלך</button></a>
  <br>
</div>
<br>

<script src="js/globalFuncs.js"></script>

<!--Check the user is Vol user-->
<script>
    if (localStorage.getItem('loggedInUser')) {
    const loggedInUserType = localStorage.getItem('loggedInUser');
    if (loggedInUserType !== 'vol') {
      alert('You are not authorized for this screen');
      logout();
    }
  }
else {
      logout();
  }
</script>

</body>
</html>
