<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title>Volunteers_Home_Screen</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../Static/css/styles.css">
  <script src="../Static/js/globalFuncs.js" defer></script>
  <script src="../Static/js/greet_msg.js" defer></script>
</head>

<body dir="rtl">

<header class="header">

  <label id="greetMsg"></label>

  <nav>
    <button><a href="index.html">התנתק</a></button>
    <button class="goToPortal">צפייה בפורטל האישי</button>
  </nav>

  <img class="HomePageLogo" src="../Static/img/hands_logo.png" width="150" alt="Web Logo">

</header>

<div class="TitlePage">
  <h1 class="Heading">איך תבחר לשנות את העולם לטובה היום?</h1>
</div>

<div id="Options">
  <a href="looking_for_volunteering.html">
    <img id="imgRight" src ="../Static/img/hetnadvot.png" width="350" alt="">
  </a>

  <a href="creating_voluntary_activity.html">
    <img id="imgLeft" src="../Static/img/HakamtPailot.png" width="350" alt="">
  </a>
</div>

</body>
</html>
