<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title>Volunteers_Home_Screen</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/greet_msg.js" defer></script>
</head>

<body dir="rtl">

<header class="header">

  <label id="greetMsg"></label>

  <nav>
    <button onclick="logout()">התנתק</button>
    <button class="goToPortal">צפייה בפורטל האישי</button>
  </nav>

  <img class="HomePageLogo" src="img/hands_logo.png" width="150" alt="Web Logo">

</header>

<div class="TitlePage">
  <h1 class="Heading">איך תבחר לשנות את העולם לטובה היום?</h1>
</div>

<div id="Options">
  <a href="http://localhost:3000/looking_for_volunteering">
    <img id="imgRight" src ="img/hetnadvot.png" width="350" alt="">
  </a>

  <a href="http://localhost:3000/creating_voluntary_activity">
    <img id="imgLeft" src="img/HakamtPailot.png" width="350" alt="">
  </a>
</div>

<script src="js/globalFuncs.js"></script>

<!--Check the user is Vol user-->
<script>
    if (localStorage.getItem('loggedInUser')) {
    const loggedInUserType = localStorage.getItem('loggedInUser');
    if (loggedInUserType !== 'vol') {
      alert('You are not authorized for this screen');
      logout();
    }
  }
else {
      logout();
  }
</script>

</body>
</html>
