<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Volunteers_Home_Screen</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="js/staticFunctions.js" defer></script>
</head>

<body dir="ltr">

<div class="Grid-Container">

  <img class="HomePageLogo" src="img/hands_logo.png" width="150" alt="Web Logo">

  <nav>
    <button><a href="index.html">התנתק</a></button>
    <button><a href="Vol_Portal.html">צפייה בפורטל האישי</a></button>
    </nav>

  <div class="TitleVolHomePage">
    <h1 dir="rtl" class="Heading">איך תבחר לשנות את העולם לטובה היום?</h1>
  </div>

  <div id="Options">
    <div>
      <a href="Looking_For_Volunteering.html">
        <img id="imgRight" src ="img/hetnadvot.png" width="350">
      </a>

      <div id="OptLeft">
        <a href="Creating_Voluntary_Activity.html">
          <img id="imgLeft" src="img/HakamtPailot.png" width="350">
        </a>
      </div>
    </div>
  </div>

</div>

</body>
</html>


