<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Watch_Your_Volunteers</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Suez+One&family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../Static/css/styles.css">
  <script src="../Static/js/greet_msg.js" defer></script>
  <script src="../Static/js/object_list.js"></script>
  <script src="../Static/js/globalFuncs.js" defer></script>
  <script src="../Static/js/watch_your_volunteers.js" defer></script>
</head>
<body>

<header class="header">

  <label id="greetMsg"></label>

  <nav>
    <img class="returnHomePage" src="../Static/img/GoBackToHomePage.png" width="200" alt="GoBackToHomePage">
    <button><a href="index.html">התנתק</a></button>
    <button class="goToPortal">צפייה בפורטל האישי</button>
  </nav>

  <img class="HomePageLogo" src="../Static/img/hands_logo.png" width="150" alt="Web Logo">

</header>

<div class="TitlePage">
  <h1 dir="rtl" class="Heading">ניהול המתנדבים שלך!</h1>
  <label class="labelCenter">מעקב קל ודינאמי אחר המתנדבים שבחרו בך לצד הכנסת ושינוי שעות הגעתם על ידי לחיצה על התאים השייכים לשעה ותאריך ההגעה!<br>
    אנו ממליצים ליצור עמם קשר כדי לוודא ולתאם הגעה ולשנות את השעות והתאריכים בהתאם.
  </label>
</div>

<div class="Tbl_for_Users">
  <div dir="rtl" class="Tbl_Cells">
    <span class="Cell_Header">מחק מהרשימה</span>
    <span class="Cell_Header">שם המתנדב</span>
    <span class="Cell_Header">טלפון</span>
    <span class="Cell_Header">מייל</span>
    <span class="Cell_Header">תאריך הגעה</span>
    <span class="Cell_Header">שעת הגעה</span>

    <span class="row-1 Cell_Info_lightBlue"><input type="button" onclick="remove('1')" name="remember" value="מחק" style="margin-bottom:15px"></span>
    <span class="row-1 Cell_Info_lightBlue Name">XXXXXXX</span>
    <span class="row-1 Cell_Info_lightBlue Phone">XXXXXXX</span>
    <span class="row-1 Cell_Info_lightBlue Mail">XXXXXXX</span>
    <span class="row-1 Cell_Info_lightBlue clickable">XXXXXXX</span>
    <span class="row-1 Cell_Info_lightBlue clickable">XXXXXXX</span>

    <span class="row-2 Cell_Info_DarkBlue"><input type="button" onclick="remove('2')" name="remember" value="מחק" style="margin-bottom:15px"></span>
    <span class="row-2 Cell_Info_DarkBlue Name">XXXXXXX</span>
    <span class="row-2 Cell_Info_DarkBlue Phone">XXXXXXX</span>
    <span class="row-2 Cell_Info_DarkBlue Mail">XXXXXXX</span>
    <span class="row-2 Cell_Info_DarkBlue clickable">XXXXXXX</span>
    <span class="row-2 Cell_Info_DarkBlue clickable">XXXXXXX</span>

    <span class="row-3 Cell_Info_lightBlue"><input type="button" onclick="remove('3')" name="remember" value="מחק" style="margin-bottom:15px"></span>
    <span class="row-3 Cell_Info_lightBlue Name">XXXXXXX</span>
    <span class="row-3 Cell_Info_lightBlue Phone">XXXXXXX</span>
    <span class="row-3 Cell_Info_lightBlue Mail">XXXXXXX</span>
    <span class="row-3 Cell_Info_lightBlue clickable">XXXXXXX</span>
    <span class="row-3 Cell_Info_lightBlue clickable">XXXXXXX</span>

    <span class="row-4 Cell_Info_DarkBlue"><input type="button" onclick="remove('4')" name="remember" value="מחק" style="margin-bottom:15px"></span>
    <span class="row-4 Cell_Info_DarkBlue Name">XXXXXXX</span>
    <span class="row-4 Cell_Info_DarkBlue Phone">XXXXXXX</span>
    <span class="row-4 Cell_Info_DarkBlue Mail">XXXXXXX</span>
    <span class="row-4 Cell_Info_DarkBlue clickable">XXXXXXX</span>
    <span class="row-4 Cell_Info_DarkBlue clickable">XXXXXXX</span>

    <span class="row-5 Cell_Info_lightBlue"><input type="button" onclick="remove('5')" name="remember" value="מחק" style="margin-bottom:15px"></span>
    <span class="row-5 Cell_Info_lightBlue Name">XXXXXXX</span>
    <span class="row-5 Cell_Info_lightBlue Phone">XXXXXXX</span>
    <span class="row-5 Cell_Info_lightBlue Mail">XXXXXXX</span>
    <span class="row-5 Cell_Info_lightBlue clickable">XXXXXXX</span>
    <span class="row-5 Cell_Info_lightBlue clickable">XXXXXXX</span>

    <span class="row-6 Cell_Info_DarkBlue"><input type="button" onclick="remove('6')" name="remember" value="מחק" style="margin-bottom:15px"></span>
    <span class="row-6 Cell_Info_DarkBlue Name">XXXXXXX</span>
    <span class="row-6 Cell_Info_DarkBlue Phone">XXXXXXX</span>
    <span class="row-6 Cell_Info_DarkBlue Mail">XXXXXXX</span>
    <span class="row-6 Cell_Info_DarkBlue clickable">XXXXXXX</span>
    <span class="row-6 Cell_Info_DarkBlue clickable">XXXXXXX</span>
  </div>
</div>

<div id="saveChangesAso">
  <label>השינויים נשמרו בהצלחה!</label>
</div>

<br>

<div class="ButtonPlacement">
  <button id="btn4">שמור שינויים</button>
</div>
<br>

</body>
</html>

